<h1>App index!</h1>
<p>Technically only if logged in...</p>
<pre>
  FB: <%= user.fbId %>
  <br>
  G: <%= user.gId %>
  <br>
  TW: <%= user.twId %>
</pre>
<a href="/logout" title="Log out">Log out</a>
